research-notes/
# ignore bin/ and obj/ and lib/
bin/
obj/
lib/
build/
# ignore doc subdirectories
doc/html/
doc/latex/
doc/test/
test/doc/
# ignore outputs
*.out
*.txt
#*.dat
#*.DAT
#*.Dat
*.json
# ignore all json files except root level ones
!/*.json
*.pdf
*.mod
*.a
*.ti
*.png
*.jpg
*.jpeg
*.la
*.lo
*.d
*.o
*.so
*.0
*.lai
*.csv
!/*.csv
*.pkl
# ignore vscode cache
.vscode/
# some of these will occasionally require manual override
#data/
# test/
python/
private_tests
# Ignore dynamic libraries
*.dylib
.libs
*.DS_Store
